<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 pull-right social-links">
            <ul>
                <li><a href="" target="_blank"><img src="images/twitter.svg"></a></li>
                <li><a href="" target="_blank"><img src="images/facebook.svg"></a></li>
                <li><a href="" target="_blank"><img src="images/instagram.svg"></a></li>
                <li><a href="" target="_blank"><img src="images/pinterest.svg"></a></li>
                <li><a href=""><img src="images/email.svg"></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 copyright">&copy;2016 Alchemy Wings. &copy;2016 Diageo, London</div>
    </div>
</div>