<div class="container">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-3 logo">
            <a href=""><img src="images/logo-new.svg"></a>
        </div>
        <div class="col-xs-5 col-sm-9 col-md-9 top-links">
            <ul class="search-cart">
                <li>
                    <a class="btn-search" href=""></a>
                </li>
                    <li>
                        <a class="btn-account" href=""></a>
                    </li>
                <li>
                    <a class="btn-account" id="login" data-target="#login-register" data-toggle="modal"></a>
                    </li>
                    <li>
                        <a href="" class="btn-cart">
                            <span class="prod-count" id="cart_header"></span>
                        </a>
                    </li>
            </ul>
                <nav id="main-menu" class="visible-xs">
                    <ul>
                        <li class="menu-home"><a href="">Home</a></li>
                        <li class="menu-product"><a href="">Products</a></li>
                        <li class="menu-occation"><a href="">Occasions</a></li>
                        <li class="menu-creation"><a href="">Creations</a></li>
                        <li class="menu-profile"><a href="">My profile</a></li>
                        <li class="menu-logout"><a href="">Logout</a></li>
                    </ul>
                </nav>
                <nav id="main-menu" class="hidden-xs">
                    <ul>
                        <li class="menu-home"><a href="">Home</a></li>
                        <li class="menu-product"><a href="">Products</a></li>
                        <li class="menu-occation"><a href="">Occasions</a></li>
                        <li class="menu-creation"><a href="">Creations</a></li>
                        <li class="menu-profile"><a href="">My profile</a>
                            <ul>
                                <li class="menu-logout"><a href="">Settings</a></li>
                                <li class="menu-logout"><a href="">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
        </div>
        <div class="col-xs-12 search-form">
            <form action="">
                <button class="btn-search-action">Search</button>
                <input id='search' type="text" placeholder="Search..." name="param" required="" />
                <a class="btn-search-close"></a>
            </form>
        </div>
    </div>
</div>